	@font-face {

	
		font-family: 'NOTVenera900';
		src: url('NOTVenera900.eot');
		src: url('NOTVenera900.eot?#iefix') format('embedded-opentype'),
		url('NOTVenera900.woff') format('woff'),
		url('NOTVenera900.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

