

	<%= image_tag(@company.company_logo.remote_url) %>
    <h1>Thank you! <br></h1><h2>We’re busy sharing the happiness! Proof of your business card has been send directly to you, the Head of Department and the Printers!</h2>