
<%if @company.slug == 'coca-cola' %>
	<%= image_tag(@company.company_logo.remote_url) %>
   	<h1>Business Card for <br> Department<strong> <%= @division.name %> </strong></h1>
   	<h2>WALA! Here’s a proof of your business card! Please take a moment to make <br> sure your details are correct – this is your last chance! If you’d like to make a change, scroll down and select <br> ‘Back to Input’. If you are happy, insert your <strong> Purchase Order (PO) </strong>number and select 'PRINT' to send your business card to the printers.</h2>
<%else %>
	<%= image_tag(@company.company_logo.remote_url) %>
   	<h1><strong> Card Generator </strong></h1>
   	<h2>WALA! Here’s a proof of your card! Please take a moment to make <br> sure your details are correct – this is your last chance! If you’d like to make a change, scroll down and select <br> ‘Back to Input’. If you are happy, insert your <strong> Purchase Order (PO) </strong>number and select 'PRINT' to send your business card to the printers.</h2>

<%end%>