    		

<% if @company.slug == 'airschool43' %>

	<%= image_tag(@company.company_logo.remote_url) %>
   	<h1><strong> Email Signature </strong></h1><h2>WALA! Here’s email signature! Please take a moment to make <br> sure your details are correct. If you’d like to make a change, scroll down and select <br> ‘Back to Input’. If you are happy, copy the email signature by following the <strong> instructions </strong>.</h2>
<% end %>