<!-- <p id="notice"><#%= notice %></p> -->

<!-- <h1>Divisions</h1>

<div class="row">
  <ul class="list-group" >
  <#% @divisions.each do |division| %>    
    <li class="list-group-item"><#%= link_to "#{division.name}", generate_division_path(division) %></li>      
  <#% end %>
</ul>  
</div>

 -->
<div class="container">
	<img src="/assets/logo.jpg">
		<h1>Business Card Generator</h1>
		<h2>Select a function you would like to create a business card for</h2>
			<div class="row" >
	  			<ul class="list-group"  >  <!--  padding: 40px 214px 0 -->
    				<!-- TODO: ASK GERARD ABOUT @division vs divion when @company is being used BEST PRACTICE ? -->
    				<% @divisions.order(:order).each do |division| %>  
    				<%raise%>
    					<li class="list-group-item" style="padding: 40px 214px 0;"><%= link_to "#{division.name}", generate_division_path(division) %></li>      
  					<% end %>
				</ul>  
			
			</div>
</div>