<div class="container">
	
	<h1>Create It Yourself</h1>
	<h2>Company Stationery and Apparel</h2>
	<%# raise %>
		<div class="row" style= "padding: 40px 214px 0;">
  			<div class="col-xs-4 form-input">  
  				<%= image_tag("bizcardspoof.jpg") %>
  			</div>
			<div class="col-xs-4 form-input">
				<%= image_tag("emailsigspoof.jpg") %>
			</div>
			<div class="col-xs-4 form-input">
  				<!-- <img src="/assets/accesscardspoof.jpg"> -->
  				<%=  image_tag("accesscardspoof.jpg")%>
			</div>
			<%#= link_to image_tag(@company.company_logo.remote_url), divisions_path(@company, function: :business_card) %>
		</div>
</div>